.episodeItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    color: white;
    padding: 2em 0;
}

.episodeBody:nth-child(odd) {
    background: #E84B88;
}

.episodeBody:nth-child(even) {
    background: #CE4479;
}