.showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.showcase>a {
    background: #CF4278;
    padding: 1em;
}

.showcase>a:nth-child(4n+3),
a:nth-child(4n+2) {
    background: #FC5193;
}

@media screen and (max-width: 600px) {
    .showcase {
        grid-template-columns: 1fr;
    }
}